* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #1c1c1c;
  color: #d5d4d8;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1f2937;
  padding: 115px 52px;
  border-radius: 6px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-bottom: 1px solid #273549;
  padding-bottom: 30px;
}

h1 {
  font-size: 32px;
  color: #fff;
  max-width: 280px;
}
span {
  color: #10b981;
  font-family: "Karla", sans-serif;
}
p {
  font-size: 1rem;
}

#btnGenerate {
  margin-top: 51px;
  background: #10b981;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 16px 24px;
  cursor: pointer;
}
.display-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.input-btn {
  display: flex;
  width: 40%;
}
.input-btn input {
  flex: 1;
  border-radius: 6px 0 0 6px;
  border: none;
  padding: 8px 12px;
  box-sizing: border-box;
  background: #273549;
  border: none;
  border-radius: 6px 0 0 6px;
  color: #10b981;
  line-height: 32px;
  font-size: 14px;
  padding: 8px 12px;
}
.input-btn {
  color: #10b981;
  cursor: pointer;
}
#copyPasswordOne,
#copyPasswordTwo {
  border-radius: 0 6px 6px 0;
  border: 1px solid #273549;
  background: #1f2937;
  padding: 0 16px;
  color: #10b981;
  cursor: pointer;
}

#clipboard {
  border-radius: 0 6px 6px 0;
  border: none;
  width: 50px;
}
